# Configuración del Backend
PORT=8080
MONGO_URI=mongodb://admin:ventasceili2025@mongo:27017/ventas_ceili?authSource=admin
GIN_MODE=release

# Configuración de MongoDB (para docker-compose)
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=ventasceili2025
MONGO_INITDB_DATABASE=ventas_ceili

# Configuración de producción
NODE_ENV=production
REACT_APP_API_URL=http://localhost/api
